@import "../../scss/variables";
.card-over {
  width: 500px;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 1.2rem;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
  max-height: 50%;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.cards {
  position: relative;
  overflow: hidden;
  &:hover .card-over {
    transform: translateY(0%);
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    color: $cardNavBgColor;
    padding: 1rem;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 1.2rem;
  }

  .date {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color: #000000, $alpha: 0.4);
    color: $cardNavBgColor;
    padding: 1rem;
    font-size: 0.6rem;
    border-radius: 0.8rem;
  }
}
