@import "../../scss/variables";
.header {
  text-align: center;
  padding: 1rem;
  font-size: 2.3rem;
  color: white;
  margin-top: 7rem;

  .text-shadow {
    color: $secondaryColor;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    word-spacing: 0.5rem;
    animation: flicker 1s 0.5s ease-in-out infinite alternate;

    &:hover {
      transition: 0.5s ease-out;
      color: $cardNavBgColor;
      cursor: pointer;
    }
  }

  @keyframes flicker {
    0% {
      opacity: 0.5;
      text-shadow: 0 0 7px rgba(255, 255, 0, 0.719);
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 7px rgba(255, 255, 0, 0.719);
    }
  }
}
